REPLICATE_API_KEY=
SECRET_KEY=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql+asyncpg://<POSTGRES_USER>:<URL_ENCODED_POSTGRES_PASSWORD>@192.168.178.154:2609/<POSTGRES_DB>
CAMERA_URL=http://192.168.178.94:81/stream
TZ=Europe/Berlin
COOKIE_SECURE=false
PUID=1026
PGID=100
DATA_PATH=/volume1/docker/imp-house
